*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: inherit;
}

.flow > *:where(:not(:first-child)) {
  margin-block-start: var(--gap, 16px);
}

.article {
  margin-inline: auto;
  width: min(100%, 500px);
  padding: 32px;
}
